<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ICC_Blog>
            <version>0.0.4</version>
        </ICC_Blog>
    </modules>
    <stores>
        <admin>
            <design>
                <theme>
                    <default>icc</default>
                </theme>
            </design>
        </admin>
    </stores>
    <admin>
        <routers>
            <blog>
                <use>admin</use>
                <args>
                    <module>ICC_Blog</module>
                    <frontName>blogadmin</frontName>
                </args>
            </blog>
        </routers>
    </admin> 
    <adminhtml>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
    </adminhtml> 
    <global>
        <resources>
            <ICC_blog_setup>
                <setup>
                    <module>ICC_Blog</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ICC_blog_setup>
        </resources>
        <models>
            <blog>
                <class>ICC_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>ICC_Blog_Model_Resource</class>
                <entities>
                    <data>
                        <table>ICC_blog</table>
                    </data>
                    <categories>
                        <table>ICC_blog_categories</table>
                    </categories>
                    <ads>
                        <table>ICC_blog_ads</table>
                    </ads>
                </entities>
            </blog_resource>
        </models>
        <blocks>
            <blog>
                <class>ICC_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>ICC_Blog_Helper</class>
            </blog>
        </helpers>
    </global>

    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>ICC_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
    </frontend>
</config>